.App {
  text-align: center;
  visibility: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.circle {
  width: 75px;
  height: 75px;
  margin: 50px;
  background-color: yellow;
  border-radius: 100%;
}

.circle.red {
  background-color: #fd5150;
}

.circle.blue {
  background-color: #194efd
}
